/thirdparty/SDL2-2.0.10/VisualC/Win32
/thirdparty/SDL2-2.0.10/VisualC/.vs
/thirdparty/SDL2-2.0.10/VisualC/SDL/Win32
/thirdparty/SDL2-2.0.10/VisualC/SDLmain/Win32
/thirdparty/SDL2-2.0.10/VisualC/SDLtest/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/checkkeys/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/controllermap/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/loopwave/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testatomic/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testautomation/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testdraw2/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testfile/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testgamecontroller/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testgesture/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testgl2/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testgles2/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testjoystick/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testoverlay2/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testplatform/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testpower/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testrendertarget/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testrumble/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testscale/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testshape/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testsprite2/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testvulkan/Win32
/thirdparty/SDL2-2.0.10/VisualC/tests/testyuv/Win32

/thirdparty/sys

*.vcxproj.user
/thirdparty/SDL2-2.0.10/build
/project/.cxx
/project/.gradle
/project/.vs
/thirdparty/curl-7.68.0/builds
/project/web/httpd.pyc
/project/web/boxx.wasm
/drafts/SpriterPlusPlus-master/.vs
/drafts/SpriterPlusPlus-master/SFML-2.3.2/examples
/thirdparty/SDL2-2.0.12/build
/thirdparty/curl-7.72.0/builds
