/sdl2/SDL2-2.0.10/VisualC/Win32
/sdl2/SDL2-2.0.10/VisualC/.vs
/sdl2/SDL2-2.0.10/VisualC/SDL/Win32
/sdl2/SDL2-2.0.10/VisualC/SDLmain/Win32
/sdl2/SDL2-2.0.10/VisualC/SDLtest/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/checkkeys/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/controllermap/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/loopwave/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testatomic/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testautomation/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testdraw2/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testfile/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testgamecontroller/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testgesture/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testgl2/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testgles2/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testjoystick/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testoverlay2/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testplatform/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testpower/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testrendertarget/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testrumble/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testscale/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testshape/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testsprite2/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testvulkan/Win32
/sdl2/SDL2-2.0.10/VisualC/tests/testyuv/Win32
*.vcxproj.user
